.NaglowekStrony {
    font: sans-serif;
    color: #0000cc;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.Wyszukiwarka {
    
}

.ElementWyszukiwarki {
    
}

.Uwaga {
    
}

.Ogloszenie {
    
}

.CaleOgloszenie {
    
}

.NaglowekOgloszenia {
    
}